<body>
    <div style="background-color: cornsilk;" id="bigDiv">
        <div id="rightDiv">
            <br/>
            <h2>Upload a photo</h2>
        <br/>
            <form>
                <div (click)="uploadFile.click()">
                    <button mat-raised-button style="border-radius: 5px; width: 180px;"  color="accent">Choose File</button>
                    <input #uploadFile (change)="onSelectFile($event)" type='file' style="display:none"/>           
                </div>

            </form>
        </div>

        <div id="leftDiv">
            <br/> 
            <img mat-card-sm-image [src]="url" onerror="this.src='../../assets/images/uploadDefault.png'"
            width="2000" height="2000">
            
        </div>
    </div>
</body>
