<body>
    <div style="background-color: cornsilk;" id="bigDiv">
        <div id="rightDiv">
            <h2>User Login</h2>
            <br/>
            <br/>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="input">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email Id</mat-label>
                        
                        <input matInput type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off" placeholder="Email" name="email">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </mat-form-field>
                    
                </div>
                <br /> 
               
                <div class="input">
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                       
                        <input matInput type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" name="password" 
                         placeholder="Password">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                        </div>
                    </mat-form-field>
                </div>
                <h3 class="error">{{error}}</h3>
                <div class="input">
                    <button mat-raised-button color="accent" type="submit" >Login</button>
                </div>
            </form>
        </div>

        <div id="leftDiv">
            <img src="../../assets/images/icon.png" class="img">
            <br/>
            <h3 class="need">Need an account?
            <a routerLink="register">Register Page</a></h3>
        </div>
    </div>
</body>