body{
  background-image: url(../../assets/images/background.jpg);
  height: 100%;
  width: 100%;
  position: relative;
  height: 100%; 
  background-size: cover;
}
table {
    width: 70%;
    height: 70%;
    margin-left:auto;
    //margin-top: 60px;
    margin-right: auto;

  }

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }
  