<body>
  <br/>
  <table mat-table [dataSource]="Source" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="imageName">
      <th mat-header-cell *matHeaderCellDef> Image name </th>
      <td mat-cell *matCellDef="let element"> {{element.imageName}} </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let element"> {{element.size}}Kbs </td>
    </ng-container>


    <ng-container matColumnDef="recognitionResult">
      <th mat-header-cell *matHeaderCellDef>Recognition result</th>
      <td mat-cell *matCellDef="let element"> {{element.recognitionResult}} </td>
    </ng-container>

    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef> Image download link </th>
      <td mat-cell *matCellDef="let element">
        <a [href]=[element.imageDownloadLink]>
          {{element.imageDownloadLink}}</a>
      </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</body>