<body>
    <div style="background-color: cornsilk;" id="bigDiv">
        <div id="rightDiv">
            <h2>User Register</h2>
            
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="input">
                    <mat-form-field class="example-full-width">
                        <mat-label>First Name</mat-label>
                        <br />
                        <input matInput type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" autocomplete="off" placeholder="First Name" name="firstName">
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </mat-form-field>
                    
                </div>
                <br />
                <div class="input">
                    <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <br />
                        <input matInput type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" autocomplete="off" placeholder="Last Name" name="lastName">
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </mat-form-field>
                    
                </div>
                <br />
                <div class="input">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email Id</mat-label>
                        <br />
                        <input matInput type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off" placeholder="Email" name="email">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </mat-form-field>
                    
                </div>
                <br /> 
               
                <div class="input">
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <br />
                        <input matInput type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" name="password" 
                         placeholder="Password">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="input">
                    <button mat-raised-button color="accent" type="submit" >Register</button>
                </div>
            </form>
        </div>

        <div id="leftDiv">
            <img src="../../assets/images/icon.png" class="img">
            <br/>
            <br/>
            <h3 class="need">Already have an account?
            <a routerLink="">Login Page</a></h3>
        </div>
    </div>
</body>