/* HD */
@media screen and (max-width: 1280px) {
    body{
   background-image: url(../../assets/images/background.jpg);
   height: 100%;
   position: relative;
   background-size: cover;
}

.input{
   margin-bottom: 30px;
}

 #bigDiv{
   width: 1000px; 
   height: 580px; 
   margin: auto;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   border-radius: 25px;
   padding: 20px;
}

#rightDiv{ 
   width: 50%; 
   height:100%;
   float:right;
   font-style: normal;
   text-align: center;
   margin-top: 10px;
}

#leftDiv{
   width: 50%;
   height:100%;
   float:left;
   text-align: center;
   margin: auto;
}

.img{
   width: 400px!important;
}

h2{
   font-size: 25px;
}

mat-label{
   font-size: 17px!important;
   color: black;
}

input{
   font-size: 15px!important;
   background-color: cornsilk;
}

input::placeholder{
   font-size: 15px!important;
}

.example-full-width{
   width: 200px!important;
   height: 50px!important;
}

button{
   font-size: 20px;
   border-radius: 5px;
   width: 200px!important;
   height: 40px;
   margin-top: 50px;
}
   
 }

 /* 2k */
 @media screen and (max-width: 2560px) and (min-width: 1281px){
   body {
      background-image: url(../../assets/images/background.jpg);
      height: 100%;
      position: relative;
      background-size: cover;
     color: black;
   }

   #bigDiv{
      width: 1300px !important ;
      height: 750px !important; 
      margin: auto;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 25px;
      padding: 20px;
   }

   #rightDiv{ 
      width: 50% ; 
      height:100%;
      float:right;
      font-style: normal;
      text-align: center;
      margin-top: 40px;
   }
  
   #leftDiv{
      width: 50% ;
      height:100%;
      float:left;
      text-align: center;
      margin: auto;
   }

   .img{
      width: 650px!important;
 
   }

   h2{
      font-size: 50px;
   }

   mat-label{
      font-size: 35px!important;
      color: black;
   }
   
   input{
      font-size: 30px!important;
      background-color: cornsilk;
   }

   input::placeholder{
      font-size: 30px!important;
   }

   .example-full-width{
      width: 400px!important;
      height: 100px!important;
   }

   button{
      font-size: 35px;
      border-radius: 5px;
      width: 400px!important;
      height: 80px;
      margin-top: 50px;
   }

   .need{
      font-size: 30px;
   }

 }
 
 /* 4k - UHD  */
 @media screen and (min-width: 2561px){
   body {
      background-image: url(../../assets/images/background.jpg);
      height: 100%;
      position: relative;
      background-size: cover;
     color: black;
   }

   #bigDiv{
      width: 1500px !important ;
      height: 800px !important; 
      margin: auto;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 25px;
      padding: 20px;
   }

   #rightDiv{ 
      width: 50% ; 
      height:100%;
      float:right;
      font-style: normal;
      text-align: center;
      margin-top: 40px;
   }
  
   #leftDiv{
      width: 50% ;
      height:100%;
      float:left;
      text-align: center;
      margin: auto;
   }

   .img{
      width: 700px!important;
   }


   h2{
      font-size: 70px;
   }

   mat-label{
      font-size: 45px!important;
      color: black;
   }
   
   input{
      font-size: 40px!important;
      background-color: cornsilk;
   }

   input::placeholder{
      font-size: 40px!important;
   }

   .example-full-width{
      width: 400px!important;
      height: 100px!important;
   }

   button{
      font-size: 40px;
      border-radius: 5px;
      width: 400px!important;
      height: 100px;
      margin-top: 70px;
   }

   .need{
      font-size: 30px;
   }
 }

 body{
   background-image: url(../../assets/images/background.jpg);
   height: 100%;
   position: relative;
   background-size: cover;
}
