<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle id='tablebtn' value="tablebtn"  (click)='tableclick()'>Table</mat-button-toggle>
    <mat-button-toggle id='uploadbtn' value="uploadbtn" (click)='uploadclick()'>Upload</mat-button-toggle>
</mat-button-toggle-group>

<button mat-raised-button color="primary" id="logoutbtn" (click)='logout()'>Log out</button>

